:root{
    --primero: #000;
    --blanco: #FFF;
    --secundario: #195c17;
    --secundario_claro: #48d143;
    --gris: #d1d1d1;
    --gris_oscuro: #a5a5a5;
    --rojo:#b61212;
}

html {
    box-sizing: border-box;
    font-size: 62.5%/*1 rem = 10 px*/;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--primero);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

main{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap:20px;
    padding: 20px;
    
}

h1,
h2,
h3 {
    color:var(--blanco);
    text-align: center;
    font-size: 25px;

}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

h4{
    font-size: 1.8rem;
}

h1 span {
    font-size: 2rem;
}

p {

    color:var(--blanco);
    text-align: center;
    font-size: 20px;
}

.imagen_logo{
    height: 150px;
    width: 300px;
}

img {
    
    height: 150px;
    width: 300px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo {
    margin: 0rem 56rem;
}

a {
    text-decoration: none;
}

.navegación {

    background-color:var(--blanco);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegación_enlace{
    color:var(--primero);
    font-size: 3rem;
}

.imagen_producto{
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--primero);
}

.card{
    background-color: var(--blanco);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
    
    border: 2px solid var(--gris_oscuro);
}

.card-body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    
    margin:auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--blanco);
    font-size: 2rem;
    
}

.nav li a{
    background-color: var(--blanco);
    color: var(--primero);
    text-decoration: none;
    padding:10px 15px;
    display: block;

}

.nav>li a:hover{
    background-color: var(--gris);
}

.nav>li{
    float: left;
}

.nav li ul{
    display: none;
    position:absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display:block;
}

ul, ol {
    list-style: none;
    
}

a{
    text-decoration: none;
    color:#195c17;
    font-weight: bold;
}

.btnCotizar{
    color: var(--secundario);
    cursor: pointer;
}

.btnEliminar{
    color: var(--rojo);
    cursor: pointer;
}

input{
    width: calc(60% - 15px);
    padding: 9px;
    margin: 10px;
    font-size: 1.5rem;
    border-radius: 7px;
    border: none;
    text-align: center;
    cursor: pointer;
}

input[type='submit']{
    background-color: var(--secundario);
    color: var(--blanco);
    width: calc(80%-20px);
    font-weight: bold;
    margin-right: 20px;
    border:none;
    border-radius: 8px;
    cursor: pointer;
}

button{
    background-color: var(--secundario);
    color: var(--blanco);
    width: calc(80%-20px);
    font-weight: bold;
    margin-right: 20px;
    border:none;
    border-radius: 8px;
}

.btnAgregar{
    background-color: var(--secundario);
    color: var(--blanco);
    width: calc(80%-20px);
    font-weight: bold;
    margin-right: 20px;
    border:none;
    border-radius: 8px;
}

/* input[type='reset']{
    background-color: var(--secundario_claro);
    color:var(--blanco);
    width: calc(80%-20px);
    font-weight: bold;
    border:none;
    border-radius: 8px;

} */

.dropdown{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

form{
    text-align: center;
    padding: 20px 20px;
    margin: calc(25% +100px);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
}